html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
}

/*
 * Never "select" buttons.
 * @see http://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
 */
button:focus {outline:none !important;}
button:active { outline:none !important; }

.hide {
  display: none !important;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}

.overlay-screen > div {
  display: flex;
  height: 100%;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center; /* horizontal */
}

/**
 * HACKFIX: react-bootstrap seems to slightly mess up the navbar?
 * @see http://stackoverflow.com/a/20432251/2228771
 */
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}


/* Remove border around blocks */
.blocklyMainBackground {
  stroke: rgba(0,0,0,0) !important;
}

/* Remove the drag surface from the workspace entirely */
.blocklyDragSurface {
  display: none;
}

.flex-row-multi {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.concept-wrapper > * {
  flex: 1 100%;
}

.concept-main { 
  flex: 7 0px;
  order: 1;
}
.concept-response-menu { 
  flex: 1 auto;
  order: 2;
}

.concept-response-menu > * {
  min-height: 100%;
  display: flex;
  flex: 1 100%;
  flex-flow: column wrap;
  > * {
    flex: 1 auto;
  }
}

.footer  { order: 3; }

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 !important;
}

.margin-half {
  margin: 0.5em;
}
.margin {
  margin: 1em;
}
.margin2 {
  margin: 2em;
}

.padding-half {
  padding: 0.5em;
}
.padding {
  padding: 1em;
}
.padding2 {
  padding: 2em;
}


.color-green {
  color: green;
}
.color-gray {
  color: gray;
}

.color-red {
  color: red;
}

.color-yellow {
  color: yellow;
}

.color-light-red {
  color: IndianRed;
}

.background-red {
  background-color: red;
}

.concept-description {
  background-color: white;
  background-image: none;
}

.concept-checks-panel {
  
}

.concept-play-view-controls {
  float: right;
}

.concept-check-response-buttons {
  text-align: center !important;
  float: none !important;
}
.concept-check-response-button {
  width: 4em;
  margin-left: 0.5em;
  float: none !important;
}
.concept-check-response-button.active {
  border-width: 4px;
}



.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-hcentered {
  text-align: center;
}

.inline-vcentered {
  vertical-align: middle;
}