html {
  overflow-y: scroll;
}

body {
  padding: 0;
}

.hide {
  display: none !important;
}

/**
 * HACKFIX: react-bootstrap seems to slightly mess up the navbar?
 * @see http://stackoverflow.com/a/20432251/2228771
 */
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}


/* Remove border around blocks */
.blocklyMainBackground {
  stroke: rgba(0,0,0,0) !important;
}

/* Remove the drag surface from the workspace entirely */
.blocklyDragSurface {
  display: none;
}

.flex-row-multi {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.concept-wrapper > * {
  flex: 1 100%;
}

.concept-main { 
  flex: 7 0px;
  order: 1;
}
.concept-response-menu { 
  flex: 1 auto;
  order: 2;
}

.concept-response-menu > * {
  min-height: 100%;
  display: flex;
  flex: 1 100%;
  flex-flow: column wrap;
  > * {
    flex: 1 auto;
  }
}

.footer  { order: 3; }

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 !important;
}

.margin-half {
  margin: 0.5em;
}
.margin {
  margin: 1em;
}
.margin2 {
  margin: 2em;
}

.padding-half {
  padding: 0.5em;
}
.padding {
  padding: 1em;
}
.padding2 {
  padding: 2em;
}


.color-green {
  color: green;
}
.color-gray {
  color: gray;
}

.color-red {
  color: red;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-hcentered {
  text-align: center;
}

.inline-vcentered {
  vertical-align: middle;
}